<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Изменить</title>
  </head>
  <body>
    <form th:method="PATCH" th:action="@{/update_user/{id}(id=${user.getId()})}" th:object="${user}">
      <label for="name">Имя:</label>
      <input type="text" th:field="*{firstName}" id="name">
      <br/>

      <label for="lastName">Фамилия:</label>
      <input type="text" th:field="*{lastName}" id="lastName">
      <br/>

      <label for="email">Фамилия:</label>
      <input type="text" th:field="*{email}" id="email">
      <br/>

      <label for="age">Возраст:</label>
      <input type="text" th:field="*{age}" id="age">
      <br/>

      <input type="submit" value="Изменить пользователя"/>
    </form>
  </body>
</html>